<div class="container-img" id="firstImg">
    <img class="image" src="~/img/First.jpg" />
    <div class="left-text">
        <figure class="figure-form">Do your ears a favour… “entry-level” never sounded so good.</figure><a href="#" class="link">
            <div class="button">Discover More </div>
        </a>
    </div>
</div>
<div class="container-img">
    <img class="image image-miror" src="~/img/Second.jpg" />
    <div class="right-text">
        <figure class="figure-form">
            Fill any room with powerful, wall-to-wall sound. Better yet, fill two rooms.
            <a href="#" class="link">
                <div class="button">Discover More </div>
            </a>
        </figure>
    </div>
</div>
<br />
<br />
<div class="card-deck slider">
    <div class="card block">
        <div class="card-body">
            <img class="card-img-top cardx" src="~/img/Headpones1.png" />
        </div>
        <div class="card-footer slider">
            <small>Headpones</small>
        </div>
    </div>
    <div class="card block">
        <div class="card-body">
            <img class="card-img-top cardx" src="~/img/Tv-Soundbar.png" />
        </div>
        <div class="card-footer slider">
            <small>Soundbar</small>
        </div>
    </div>
    <div class="card block">
        <div class="card-body">
            <img class="card-img-top cardx" src="~/img/Speaker.png" />
        </div>
        <div class="card-footer slider">
            <small>Speaker</small>
        </div>
    </div>
</div>
@*<script>
    let nav = document.querySelector("nav");
    let ul = document.querySelector("ul");
    document.addEventListener('mousemove', Move);
    function Move(e) {
        if (pageYOffset >= 900) {
            $(nav).removeClass("nav");
            $(ul).removeClass("nav-links-transp");
            $(nav).addClass("nav-scrolled");
            $(ul).addClass("nav-links-white");
        }
        else {
            $(nav).removeClass("nav-scrolled");
            $(ul).removeClass("nav-links-white");
            $(nav).addClass("nav");
            $(ul).addClass("nav-links-transp");
        }
           }
</script>*@